.cursor-block {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: $green;
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 10;
  cursor: pointer;
  pointer-events: none;
  box-shadow: none;
  transition: width 0.4s ease, height 0.4s ease, box-shadow 0.4s ease;
  &.go-cur {
    width: 120px;
    height: 120px;
    box-shadow: 0 0 9px 3px rgba(18, 18, 18, 0.18);
  }
}
